:root {
  font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
}

* {
  font-size: 100% !important;
}

body {
  min-width: 450px;
  min-height: 500px;
  margin: 0 !important;
}